.Sidebar {
    background-color: #434b57;
    width: 15%;
    height: 94vh;
}

.TopCategory {
    color: #9ba6b0;
    height: 4vh;
    font-size: 1vw;
    line-height: 4vh;
    text-align: start;
    padding-left: 1vw;
}

.SubCategory {
    color: #9ba6b0;
    height: 7vh;
    line-height: 7vh;
    text-align: start;
    padding-left: 1vw;
    font-size: 1.5vw;
}

a {
    color: #9ba6b0;
    text-decoration:none;
}