.Table {
    /* overflow: scroll; */
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1.5px solid #cdd3d8;
}

.MusicHeadTitle {
    color: #5f6a76;
    cursor: pointer;
    width: 16.75vw;
    height: 6vh;
    text-align: start;
    padding-left: 1vw;
}

.MusicRadio {
    color: #5f6a76;
    width: 2.5vw;
    height: 6vh;
}

.MusicId {
    color: #5f6a76;
    width: 4vw;
    height: 6vh;
    text-align: start;
    padding-left: 1vw;
}

.MusicTitle {
    color: #2c97ef;
    cursor: pointer;
    width: 16.75vw;
    height: 6vh;
    text-align: start;
    padding-left: 1vw;
}

.MusicLabel {
    color: #5f6a76;
    width: 11vw;
    height: 6vh;
    text-align: start;
    padding-left: 1vw;
}

.MusicArtist {
    color: #5f6a76;
    width: 11vw;
    height: 6vh;
    text-align: start;
    padding-left: 1vw;
}

.MusicUPC {
    color: #5f6a76;
    width: 11vw;
    height: 6vh;
    text-align: start;
    padding-left: 1vw;
}

.MusicIngestion {
    color: #5f6a76;
    width: 11vw;
    height: 6vh;
    text-align: start;
    padding-left: 1vw;
}

.MusicReleaseDate {
    color: #5f6a76;
    width: 11vw;
    height: 6vh;
    text-align: start;
    padding-left: 1vw;
}